USE [master]
GO
CREATE DATABASE [bank]
 CONTAINMENT = NONE
 
GO
USE [bank]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 18/04/2019 2:52:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[IdAccount] [int] NOT NULL,
	[Balance] [float] NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[IdAccount] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AccountCustomer]    Script Date: 18/04/2019 2:52:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AccountCustomer](
	[idAccount] [int] NOT NULL,
	[IdCustomer] [int] NOT NULL,
 CONSTRAINT [PK_AccountCustomer] PRIMARY KEY CLUSTERED 
(
	[idAccount] ASC,
	[IdCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 18/04/2019 2:52:58 CH ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[idCustomer] [int] NOT NULL,
	[Name] [nvarchar](30) NULL,
	[surname] [nvarchar](30) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[idCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([IdAccount], [Balance]) VALUES (1, 57024)
INSERT [dbo].[Account] ([IdAccount], [Balance]) VALUES (2, 80000)
INSERT [dbo].[AccountCustomer] ([idAccount], [IdCustomer]) VALUES (1, 1)
INSERT [dbo].[AccountCustomer] ([idAccount], [IdCustomer]) VALUES (2, 2)
INSERT [dbo].[Customer] ([idCustomer], [Name], [surname]) VALUES (1, N'Lượng', N'Nguyễn')
INSERT [dbo].[Customer] ([idCustomer], [Name], [surname]) VALUES (2, N'An', N'Nguyễn')
ALTER TABLE [dbo].[AccountCustomer]  WITH CHECK ADD  CONSTRAINT [FK_AccountCustomer_Account] FOREIGN KEY([idAccount])
REFERENCES [dbo].[Account] ([IdAccount])
GO
ALTER TABLE [dbo].[AccountCustomer] CHECK CONSTRAINT [FK_AccountCustomer_Account]
GO
ALTER TABLE [dbo].[AccountCustomer]  WITH CHECK ADD  CONSTRAINT [FK_AccountCustomer_Customer] FOREIGN KEY([IdCustomer])
REFERENCES [dbo].[Customer] ([idCustomer])
GO
ALTER TABLE [dbo].[AccountCustomer] CHECK CONSTRAINT [FK_AccountCustomer_Customer]
GO
USE [master]
GO
